

p {
    margin: 25px;
    padding: 10px;
    color: white;
    font-family: Lexend;
    font-weight: 600;
    top: 50%;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("Images/Repeat.png");
    background-repeat: repeat;
    background-position: center center;
}

.header {
    height: 100px;
    background-image: url("Images/Banner-BG.png");
    background-repeat: repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    border-bottom: solid;
    border-width: 3px;
    border-color: #FD8D25;
    margin: 0;
}

.Menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #FD8D25;
    margin: 0;
}

.CENTER {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding: 0;
    display: grid;
    grid-template-columns: 3fr;
    justify-content: center;
}

.Button {
    color: white;
    font-family: Lexend;
    font-weight: 600;
    background-color:#FD8D25;
    text-align: center;
    border-radius: 24px;
    border: solid #FC5A16;
    padding: 10px;
}

.Button:hover {
    box-shadow: #FC5A16 0 5px;
    transform: translateY(-5px);
    cursor: pointer;
}

.Button:active {
    transform: translateY(1px);
    box-shadow: none;
}

._Button {
    color: white;
    font-family: Lexend;
    font-weight: 600;
    background-color: #FD8D25;
    text-align: center;
    border-radius: 24px;
    border: solid #FC5A16;
    padding: 10px;
}

._Button:hover {
    box-shadow:  0 5px #FC5A16;
    transform: translateY(-5px);
    cursor: pointer;
}

._Button:active {
    transform: translateY(1px);
    box-shadow: none;
}


.Input {
    color: white;
    font-family: Lexend;
    font-weight: 600;
    background-color:#77B318;
    text-align: center;
    border-radius: 15px;
    border: solid #509124;
    margin: 25px;
    padding: 10px;
    top: 50%;
    transition: 0.2s;
    outline: none;
}

.Input:focus {
    border: solid #38621c;
}

.Button_MENU {
    color: white;
    font-family: Lexend;
    font-weight: 600;
    background-color:#FD8D25;
    text-align: center;
    border: none;
    border-bottom: solid #FC5A16;
    height:50px;
    top: 50%;
    transition: 0.1s;
}

.Button_MENU:hover {
    cursor: pointer;
    border-bottom: solid #FD8D25;
}

.Button_MENU:active {
    opacity: .90;
}

.CARD {
    flex: 1 1 30%;
    background: #FD8D25;
    border: 3px solid #FC5A16;
    border-radius: 6px;
    padding: 0;
    max-width: 100%;
}

.CARD:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
}

.inner_CARD {
    margin-left: 10%;
    margin-right: 10%;
    flex: 1 1 30%;
    background: #FD8D25;
    border: 3px solid #FC5A16;
    border-radius: 6px;
    padding: 0;
    max-width: 100%;
}

.inner_CARD:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
}

.Title_Text {
    margin: 0;
    font-size: 25px;
}

.Text {
    margin: 0;
    padding: 20px;
}

hr {
    margin: 0;
    background-color: #FC5A16;
    height: 3px;
    padding: 0;
    border: none;
}

.hr {
    margin: 0;
    background-color: #FC5A16;
    height: 3px;
    padding: 0;
    border: none;
}

div {
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}


.Img {
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 6px;
    border-color: #FC5A16;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #FC5A16;
    border-radius: 6px;
    padding: 0;
    max-width: 500px;
}

.Img:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
}


.vid {
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 6px;
    border-color: #FC5A16;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #FC5A16;
    border-radius: 6px;
    padding: 0;
    max-width: 100%;
}

.vid:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
}